@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');
$nunito: 'Nunito', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $nunito;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .mosque {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 700px;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;

        .logo {
            position: relative;
            color: #ff5e8e;
            display: inline-block;
            font-size: 2em;
            text-decoration: none;
            font-weight: 800; 
        }

        ul {
            position: relative;
            display: flex;
            
            li {
                list-style: none;

                a {
                    display: inline-block;
                    color: #0169b2;
                    font-weight: 600;
                    font-size: 1.1em;
                    margin-left: 10px;
                    padding: 8px 18px;
                    text-decoration: none;
                    user-select: none; 
                }
                a.active, a:hover {
                    background: #0169b2;
                    color: #fff;
                    border-radius: 30px;
                }
            }
        }
    }

    .content {
        position: relative;

        .textBox {
            position: relative;
            max-width: 550px;

            h1 {
                color: #0169b2;
                font-size: 3.5em;
                margin-bottom: 10px;
                line-height: 1.2em;
                font-weight: 700;
            }

            p {
                font-size: 1.2em;
                color: #333333;
            }

            a {
                display: inline-block;
                margin-top: 20px;
                padding: 15px 30px;
                background: #ff5e8e;
                color: #fff;
                font-size: 1.2em;
                border-radius: 40px;
                font-weight: 700;
                letter-spacing: 1px;
                text-decoration: none;
            }
        }
    }

    .sci {
        position: absolute;
        bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            list-style: none;

            a {
                position: relative;
                margin-right: 15px;
                width: 50px;
                height: 50px;
                background: #0169b2;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .2s ease-in-out;

                img {
                    filter: invert(1);
                    transform: scale(.5);
                }
            }
            a:hover {
                background: #ff5e8e;
                transform: translateY(-10px);
            }
        }
    }
}

@media(max-width: 991px) {
    section {
        padding: 150px 20px;

        .mosque {
            max-width: 400px;
        }

        header {
            padding: 20px;

            .toggle {
                position: fixed;
                top: 20px;
                right: 20px;
                width: 40px;
                height: 40px;
                background: #0169b2 url(../assets/menu.png);
                background-size: 30px;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                z-index: 1000;
            }
            .toggle.active {
                background: #0169b2 url(../assets/close.png);
                background-size: 25px;
                background-repeat: no-repeat;
                background-position: center;
            }

            .navigation {
                display: none;

                li {
                    margin: 10px 0;

                    a {
                        margin-left: 0;
                        font-size: 1.5em;
                    }
                }
            }
            .navigation.active {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .content {
            .textBox {
                h1 {
                    font-size: 2.5em;
                }
            }
        }
    }
}

@media(max-width: 600px) {
    section {
        .mosque {
            opacity: .4;
        }
    }
}